.shape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.pump {
    width: 50px;
    height: 50px;
    position: relative;
}

.pit {
    width: 150px;
    height: 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px inset;
    border-radius: 50%;
    margin: 20px auto;

}

.source {
    width: 50px;
    height: 70px;
    /* border-radius: horziontal values / vertical values */
    border-radius: 50px 50px / 20px 20px;


}

.ON {
    background-color: green;

}

.OFF {
    background-color: red;

}